h1{
    font-size: 50px;
    color: black;
    text-align: center;
    text-transform: uppercase;
}

body{
    background-image: url(../images/back-ground.jpeg);
    background-position: center;
}
img{
    width: 120px; 
    margin-bottom: 15px; 
    /*Your code here*/
    display: grid;
    justify-content: center;
 }

 div{
    padding: 30px; 
    margin:5px; 
    /* YOUR CODE HERE */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
 }

 .A{
    grid-column: 1 / span 1;
    grid-row: 1
 }

 .B{
    grid-column: 3 / span 1;
    grid-row: 1;
 }

 .C{

 }

 .D{

 }

 .E{

 }

 .F{

 }

 .G{

 }

 .H{

 }

 .I{

 }